body {
  margin: 0;
  height: 100vh;
  /* background-color:; */
}

#app {
  height: 100%;}

/* #head, #content {
  border: 2px solid black;
} */

#head {
  display: flex;
  align-items: center;
  grid-area: header;
  color: black;
}

#content {
  grid-area: content;
  display: flex;
  flex-wrap: wrap;
  color:  red;
}

/* #footer {
  grid-area: footer;
  color:  black;
} */

.money {
  grid-area: Money;
  color: black;
  width: 250px;
  height: 100px;
  border: 2px solid blue;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}

/* ul {
  background-color: blue;
} */

#valor{
  height: auto;
}